/* Background Image */
.bg-img {
  /* The image used */
  background-image: url("bannerart2.png");

  min-height: 300px;
  border-top-style: solid;
  border-top-width: 1px;
  /*                */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 200%;
  /*                                   */

  /* Needed to position the navbar */
  position: relative;
  /*                               */
}
/*                  */

/* Entire Body */
body {
  font-family: "Microsoft Sans Serif", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background:-webkit-linear-gradient(left, white); */
}

a {
  text-decoration: none;
}
/*             */

/* Hover the Home page */
.active1:hover {
  background-color: green;
}

/* Hover the FAQ page */
.active3:hover {
  background-color: yellow;
  color: black;
}
/*                */

/* Hover the Domino Pictures Gallery page */
.active4:hover {
  background-color: red;
}
/*                                        */

/* Hover the Thoughts page */
.active5:hover {
  background-color: white;
  color: black;
}
/*                         */

/* Navbar container */
.topnav {
  background-color: black;
  overflow: hidden;
}
/*                  */

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}
/*                        */

/* Hovering the dropdown */
.dropdown:hover {
  background-color: blue;
}
/*                       */

/* Links inside the top nav */
.topnav a {
  color: white;
  float: left;
  font-size: 17px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.topnav .dropdown button:hover {
  background-color: blue;
}
/*                          */

/* Dropdown button */
.dropdown .dropbtn {
  background-color: inherit;
  border: none;
  color: white;
  font-family: inherit; /* Important for vertical align on mobile phones */
  font-size: 17px;
  margin: 0;            /* Important for vertical align on mobile phones */
  outline: none;
  padding: 14px 16px;
}
/*                 */

/* Dropdown content (hidden by default) */
.dropdown-content {
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  min-width: 234.5px;
  position: absolute;
  z-index: 1;
}
/*                                      */

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  display: block;
  float: none;
  padding: 12px 16px;
  text-align: left;
  text-decoration: none;
}
/*                           */

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}
/*                                                        */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/*                                 */
