/* Entire Body */
body {
  font-family: "Microsoft Sans Serif", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background:-webkit-linear-gradient(left, white); */
}
/**************/

/* Navigation Bars */
nav ul {
  background-color: #aaa;
  font-size: 25px;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

nav li {
  float: left;
  /* border-right: 2px solid white; */
}

nav li a, .dropbtn {
  display: block;
  line-height: 1em;
  list-style-type: none;
  padding: 0.5em 0.5em;
  text-decoration: none;
}

nav ul a {
  color: black;
}

nav ul .bar1:hover:not(.active1) {
  background-color: #ffff80;
}

.active1 {
  background-color: #e6e600;
}

nav ul .bar2:hover:not(.active2) {
  background-color: #adebad;
}

.active2 {
  background-color: #208000;
}

nav ul .bar3:hover:not(.active3) {
  background-color: #ff4d4d;
}

.active3 {
  background-color: #cc0000;
}

nav ul .bar4:hover:not(.active4) {
  background-color: #668cff;
}

.active4 {
  background-color: #0000ff;
}

/*
nav > ul > li > a {
  color: #aaa;
  background-color: #FF0;
  display: block;
  line-height: 2em;
  padding: 0.5em 0.5em;
  text-decoration: none;
}
*/
/********************/
