/* Entire Body */
body {
  font-family: "Microsoft Sans Serif", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

p { line-height: 1.5; }

a { text-decoration: none; }
/*             */

/* Background Image */
.bg-img {
  /* The image used */
  background-image: url("bannerart2.png");

  min-height: 300px;
  border-top-style: solid;
  border-top-width: 1px;
  /*                */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 200%;
  /*                                   */

  /* Needed to position the navbar */
  position: relative;
  /*                               */
}
/*                  */

.content-wrap {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px 0;
  width: 85%;
}

/* Hover the Home page */
.active1:hover { background: #008000; }        /* green */

/* Hover the Subscribers Milestones */
.active2:hover { background: #0000FF; }        /* blue */

/* Hover the FAQ page */
.active3:hover {
  background: #FFFF00;                         /* yellow */
  color: #000000;                              /* black */
}
/*                    */

/* Hover the Domino Pictures Gallery page */
.active4:hover { background: #FF0000; }        /* red */
/*                                        */

/* Navbar container */
.topnav {
  background: #000000;                         /* black */
  overflow: auto;
  width: 100%;
}
/*                  */

/* Links inside the top nav */
.topnav a {
  color: #FFFFFF;                     /* white */
  float: left;
  font-size: 17px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .topnav a {
    display: block;
    float: none;
  }
}
/*                          */

/* BEFORE TheDominoSwag Jin Layout */
.before {
  background: rgba(241, 177, 14, 0.5);
  padding-bottom: 20px;
}

.before h2 {
  font-size: 40px;
  margin: 0;
  text-align: left;
}
/*                                 */

/* Creating YouTube channel circle-shaped icons */
.avatar {
  border-radius: 50%;
  height: 80px;
  vertical-align: middle;
  width: 80px;
}
/*                                              */

/* DURING TheDominoSwag Jin Layout */
.during {
  background: rgba(0, 179, 0, 0.5);
  padding-bottom: 5px;
}

.during h2 {
  font-size: 40px;
  margin: 0;
  text-align: left;
}
/*                                 */

/* Classic Domino Series Playlists Layout */
.classic {
  background: rgba(255, 0, 0, 0.5);
  padding-bottom: 5px;
}

.classic h2 {
  font-size: 35px;
  margin: 0;
  text-align: center;
}
/*                                        */

/* Modern Domino Series Playlists Layout */
.modern {
  background: rgba(29, 187, 245);
  padding-bottom: 5px;
}

.modern h2 {
  font-size: 35px;
  margin: 0;
  text-align: center;
}
/*                                       */

/* All YouTube Videos */
iframe {
  border-width: 0;
}
/*                    */

/* iframe container */
.iframe-container {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.iframe-container iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/*                  */
